{% extends "base.html.twig" %}

{% block main %}

<article>
    {% if article.isPublished %}
        <h1>{{ article.title }}</h1>
        <p>{{ article.content }}</p>
        <img src="{{ article.image }}" alt="{{ article.title }}">
        <em>Date de publication : {{ article.publishedAt | date('d/m/y') }}</em>
    {% else %}
        <p>Cet article n'est pas publié !</p>
    {% endif %}
</article>

{% endblock main %}

